<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p style='font-family:Arial'> Enter the shelter''s information:</p>
  <h2>Name : </h2><input id="name" type='text' name='shelter[name]'/><br/> <br/>
  <h2>Address : </h2><input id="address" type='text' name='shelter[address]'/><br/> <br/>
  <h2>City : </h2><input id="city" type='text' name='shelter[city]'/><br/> <br/>
  <h2>Zip : </h2><input id="zip" type='text' name='shelter[zip]'/><br/> <br/>
  <h2>State : </h2><input id="state" type='text' name='shelter[state]'/><br/> <br/>
  <input type="submit" value="Create Shelter">
</form>