<%= link_to "All pets", "/pets"%>
<%= link_to "All Shelters", "/shelters"%>

<h3 style='font-family:Arial'> Welcome to adopt, dont shop </h3>

<p> <%= link_to "Visit our shelters", "/shelters/"  %> </p>